pandas
pathlib
git+https://github.com/DIAGNijmegen/pathology-whole-slide-data@main
scikit-image
scikit-learn
scipy
seaborn
pillow>=8.3.2
openpyxl
matplotlib
jupyterlab
opencv-python-headless
pyvips
shapely
tqdm
xlrd>=2.0.0
six
fastprogress